:root {
    --main-color: #FED136;
    --section-title-color: #222222;
    --items-text: #777777;
    --placeholder-color: #BBBBBB;
    --second-title-color: #FFFFFF;
    --border-color: #CCCCCC;
}

.container {
    width: 933px;
    margin: 0 auto;
    outline: 1px solid red;
}


/* header start */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-logo {}

.logo {
    line-height: 53px;
    padding-left: 30px;
    padding-right: 30px;
}

.menu-list {
    list-style: none;
    display: flex;
    gap: 10px;

}

.menu-item {
    line-height: 41px;
    padding-left: 15px;
    padding-right: 15px;
}

.menu-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 41px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
}

/* main start */
.main {}

.section-services {}

.section-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700px;
    font-size: 40px;
    line-height: 48.76px;
    color: var(--second-title-color);
    text-align: center;
    margin-top: 92px;
    margin-bottom: 114px;
}

.services-list {
    display: flex;
    gap: 13px;
}

.services-item {
    list-style: none;
    text-align: center;
}

.services-image {
    margin-bottom: 25px;
}

.services-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700px;
    font-size: 18px;
    /* line-height: 75px; */
    color: var(--section-title-color);
    margin-bottom: 30px;
    margin-top: 0;
}

.services-description {
    font-family: "Roboto Slab", serif;
    /* font-weight: ; */
    font-size: 14px;
    line-height: 16.41px;

}

/* footer start */
.footer {
    background-color: var(--section-title-color);

}

.form {}

.label {}

.input {
    font-family: "Montserrat", sans-serif;
    font-weight: 700px;
    font-size: 14px;
    line-height: 17.07px;
    color: var(--placeholder-color);
    border: 1px;
    border-color: var(--border-color);
    padding: 15px;
}

.textarea {}

.button {
    color: var(--second-title-color);
    background-color: #FED136;
    border: none;
}

.section-footer {
    padding-top: 92px;
}